@import "components/normalize";
@import "components/colors";
@import "components/button";
@import "components/navbar";
@import "ejemplos/datos";
@import "ejemplos/bucles";

body{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: large;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer{
  text-align: center;
}
img {
  vertical-align: middle;
  border-style: none;
}
p{
  margin: 1em 0;
}


.row{
  width: calc(100% - 4em);
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
}
.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.space-around{
  justify-content: space-around;
}
.space-between{
  justify-content: space-between;
}