$number: 1;
$number2: 10px;
$number3: 20deg;
$number4: 20s;
$string: "Start";
$string2: none;
$color: red;
$color2: hsl(150,100,50);
$color3: #0000ff;
$list: primary, secondary, tertiary;
$list2: 1px solid gold;
$boolean: true;

$map: (
  primary: red,
  secondary: green,
  tertiary: blue,
);












